<div class="inicio-page">

  <header>

    <div>
      <strong>Barru</strong>
    </div>

    <details>

      <summary>
        {{ nombreUsuario }}
      </summary>

      <div>

        <button
          type="button"
          (click)="irAPerfil()"
        >
          Mis datos
        </button>

        @if (esAdminSistema) {

          <button
            type="button"
            (click)="abrirZonaAdmin()"
          >
            Zona administrativa
          </button>

        }

        <button
          type="button"
          (click)="cerrarSesion()"
        >
          Cerrar sesión
        </button>

      </div>

    </details>

  </header>


  @if (error()) {

    <p>
      {{ error() }}
    </p>

  }


  <main>

    <h1>
      Inicio
    </h1>

    @if (puedeUsarTareas) {

      <button
        type="button"
        (click)="irAMisTareas()"
      >
        Mis tareas
      </button>

      <button
        type="button"
        (click)="irAAvisosTarea()"
      >
        Avisos de tareas
        ({{ avisosTareaPendientes() }})
      </button>

    }

    @if (esEncargado) {

      <button
        type="button"
        (click)="irAPanelProyectos()"
      >
        Panel de proyectos
      </button>

      <button
        type="button"
        (click)="irANotificaciones()"
      >
        Notificaciones
      </button>

    }

  </main>


  @if (mostrarAccesoAdmin()) {

    <app-zona-admin-acceso
      (accesoConcedido)="accesoAdminConcedido()"
      (accesoDenegado)="accesoAdminDenegado($event)"
      (cerrado)="cerrarAccesoAdmin()"
    />

  }

</div>