<div class="perfil-page">

  <section class="perfil-card">

    <header class="perfil-header">

      <h1>
        Mis datos
      </h1>

    </header>


    @if (error()) {

      <p-message severity="error">
        {{ error() }}
      </p-message>

    }


    @if (exito()) {

      <p-message severity="success">
        {{ exito() }}
      </p-message>

    }


    @if (cargando()) {

      <div class="perfil-cargando">
        Cargando...
      </div>

    } @else {

      <form
        #perfilForm="ngForm"
        class="perfil-form"
        (ngSubmit)="guardar()"
      >

        <!-- Foto / avatar -->
        <div class="perfil-foto">

          <div class="perfil-avatar">

            @if (fotoPerfil) {

              <img
                [src]="fotoPerfil"
                alt="Foto de perfil"
              />

            } @else {

              <i
                class="pi pi-user"
                aria-hidden="true"
              ></i>

            }

          </div>


          <label
            for="fotoPerfil"
            class="foto-label"
          >
            Foto de perfil
          </label>

          <input
            id="fotoPerfil"
            name="fotoPerfil"
            class="foto-input"
            type="file"
            accept=".jpg,.jpeg,.png,.webp,image/jpeg,image/png,image/webp"
            (change)="seleccionarFoto($event)"
          />

        </div>


        <!-- Nombre -->
        <div class="campo">

          <label for="nombre">
            Nombre
          </label>

          <input
            id="nombre"
            name="nombre"
            type="text"
            pInputText
            [(ngModel)]="nombre"
            maxlength="80"
            required
          />

        </div>


        <!-- Apellidos -->
        <div class="campo">

          <label for="apellidos">
            Apellidos
          </label>

          <input
            id="apellidos"
            name="apellidos"
            type="text"
            pInputText
            [(ngModel)]="apellidos"
            maxlength="120"
            required
          />

        </div>


        <!-- Email -->
        <div class="campo">

          <label for="email">
            Email
          </label>

          <input
            id="email"
            name="email"
            type="email"
            pInputText
            [(ngModel)]="email"
            maxlength="150"
            required
            email
          />

        </div>


        <!-- Guardar -->
        <button
          type="submit"
          class="guardar-perfil"
          [disabled]="
            perfilForm.invalid ||
            guardando()
          "
        >

          @if (guardando()) {
            Guardando...
          } @else {
            Guardar cambios
          }

        </button>

      </form>

    }

  </section>


  <!-- Volver a Inicio -->
  <button
    type="button"
    class="volver-inicio"
    (click)="volver()"
  >

    <i
      class="pi pi-angle-double-right"
      aria-hidden="true"
    ></i>

    <span class="solo-lectura">
      Volver a Inicio
    </span>

  </button>

</div>