<div class="listado-empresa">

  <header class="listado-empresa-header">

    <h1 class="listado-empresa-titulo">
      Empresas
    </h1>

    <a
      routerLink="/empresas/nueva"
      class="boton-primario"
    >
      <i
        class="pi pi-plus"
        aria-hidden="true"
      ></i>

      <span>Nueva empresa</span>
    </a>

  </header>


  <nav
    class="listado-empresa-filtros"
    aria-label="Estado de las empresas"
  >

    <button
      type="button"
      [attr.aria-pressed]="filtroEstado() === 'todas'"
      [disabled]="cargando()"
      (click)="cargarEmpresas('todas')"
    >
      Todas
    </button>

    <button
      type="button"
      [attr.aria-pressed]="filtroEstado() === 'activas'"
      [disabled]="cargando()"
      (click)="cargarEmpresas('activas')"
    >
      Activas
    </button>

    <button
      type="button"
      [attr.aria-pressed]="filtroEstado() === 'inactivas'"
      [disabled]="cargando()"
      (click)="cargarEmpresas('inactivas')"
    >
      Inactivas
    </button>

  </nav>


  @if (error()) {

    <div class="listado-empresa-error">

      <p-message severity="error">
        {{ error() }}
      </p-message>

    </div>

  }


  <div class="listado-empresa-tabla">

    <p-table
      #tabla
      [value]="empresas()"
      [loading]="cargando()"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [globalFilterFields]="['nombre']"
    >

      <ng-template #caption>

        <div class="listado-empresa-busqueda">

          <label
            for="busquedaEmpresa"
            class="listado-empresa-busqueda-label"
          >
            Buscar empresa
          </label>

          <input
            id="busquedaEmpresa"
            #busqueda
            type="text"
            pInputText
            class="listado-empresa-busqueda-input"
            placeholder="Buscar por nombre"
            (input)="tabla.filterGlobal(busqueda.value, 'contains')"
          />

        </div>

      </ng-template>


      <ng-template #header>

        <tr>
          <th scope="col">Logo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Estado</th>
          <th scope="col">Límite usuarios</th>
          <th scope="col">Jornada</th>
          <th scope="col">Pausa</th>
          <th scope="col">Radio fichaje</th>
          <th scope="col">Acciones</th>
        </tr>

      </ng-template>


      <ng-template
        #body
        let-empresa
      >

        <tr>

          <td>

            @if (empresa.logoUrl) {

              <img
                class="listado-empresa-logo"
                [src]="empresa.logoUrl"
                [alt]="'Logo de ' + empresa.nombre"
              />

            } @else {

              <span class="listado-empresa-sin-logo">
                Sin logo
              </span>

            }

          </td>


          <td class="listado-empresa-nombre">
            {{ empresa.nombre }}
          </td>


          <td>

            <span
              class="listado-empresa-estado"
              [class.listado-empresa-estado-activa]="empresa.activa === true"
              [class.listado-empresa-estado-inactiva]="empresa.activa !== true"
            >
              {{ empresa.activa === true ? 'Activa' : 'Inactiva' }}
            </span>

          </td>


          <td>
            {{ empresa.limiteUsuarios }}
          </td>

          <td>
            {{ formatearDuracion(empresa.jornadaMinutos) }}
          </td>

          <td>
            {{ formatearDuracion(empresa.pausaMinutos ?? 30) }}
          </td>

          <td>
            {{ empresa.radioFichaje }} m
          </td>


          <td>

            @if (empresa.id !== undefined) {

              <div class="listado-empresa-acciones">

                <a
                  [routerLink]="[
                    '/empresas',
                    empresa.id,
                    'editar'
                  ]"
                  class="boton-secundario"
                >
                  <i
                    class="pi pi-pencil"
                    aria-hidden="true"
                  ></i>

                  <span>Modificar</span>
                </a>


                @if (empresa.activa === true) {

                  <button
                    type="button"
                    class="boton-secundario"
                    [disabled]="cargando()"
                    (click)="cambiarEstado(empresa)"
                  >
                    <i
                      class="pi pi-ban"
                      aria-hidden="true"
                    ></i>

                    <span>Desactivar</span>
                  </button>

                } @else {

                  <button
                    type="button"
                    class="boton-primario"
                    [disabled]="cargando()"
                    (click)="cambiarEstado(empresa)"
                  >
                    <i
                      class="pi pi-check"
                      aria-hidden="true"
                    ></i>

                    <span>Activar</span>
                  </button>

                }

              </div>

            }

          </td>

        </tr>

      </ng-template>


      <ng-template #emptymessage>

        <tr>

          <td
            colspan="8"
            class="listado-empresa-vacio"
          >
            No hay empresas que coincidan con los criterios seleccionados.
          </td>

        </tr>

      </ng-template>

    </p-table>

  </div>

</div>