<div class="usuarios-page">

  <p-confirmdialog />

  <header class="usuarios-header">

    <h1>Usuarios</h1>

    <button
      type="button"
      class="boton-primario"
      [disabled]="cargando() || empresaId === null"
      (click)="nuevoUsuario()"
    >
      <i
        class="pi pi-plus"
        aria-hidden="true"
      ></i>

      Nuevo usuario
    </button>

  </header>


  @if (error()) {

    <div class="usuarios-mensaje">
      <p-message severity="error">
        {{ error() }}
      </p-message>
    </div>

  }


  @if (exito()) {

    <div class="usuarios-mensaje">
      <p-message severity="success">
        {{ exito() }}
      </p-message>
    </div>

  }


  <div class="usuarios-filtros">

    @if (esAdmin()) {

      <div class="usuarios-empresa">

        <label for="empresaUsuarios">
          Empresa
        </label>

        <select
          id="empresaUsuarios"
          [(ngModel)]="empresaId"
          [disabled]="cargando()"
          (ngModelChange)="seleccionarEmpresa()"
        >

          <option [ngValue]="null">
            Selecciona una empresa
          </option>

          @for (
            empresa of empresas();
            track empresa.id ?? empresa.nombre
          ) {

            @if (empresa.id !== undefined) {

              <option [ngValue]="empresa.id">
                {{ empresa.nombre }}
                {{ empresa.activa === false ? '(Inactiva)' : '' }}
              </option>

            }

          }

        </select>

      </div>

    }


    <nav
      class="usuarios-estados"
      aria-label="Estado de los usuarios"
    >

      @for (estado of estados; track estado) {

        <button
          type="button"
          [disabled]="cargando() || empresaId === null"
          [attr.aria-pressed]="estadoSeleccionado() === estado"
          (click)="seleccionarEstado(estado)"
        >
          {{ etiquetaEstado(estado) }}
        </button>

      }

    </nav>

  </div>


  <div class="usuarios-tabla">

    <p-table
      #tabla
      [value]="usuarios()"
      [loading]="cargando()"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [globalFilterFields]="['nombre', 'apellidos', 'email']"
    >

      <ng-template #caption>

        <div class="usuarios-busqueda">

          <label for="busquedaUsuario">
            Buscar usuario
          </label>

          <input
            id="busquedaUsuario"
            #busqueda
            type="text"
            pInputText
            placeholder="Nombre, apellidos o email"
            [disabled]="empresaId === null"
            (input)="tabla.filterGlobal(busqueda.value, 'contains')"
          />

        </div>

      </ng-template>


      <ng-template #header>

        <tr>
          <th scope="col">Foto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Rol</th>
          <th scope="col">Método de fichaje</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>

      </ng-template>


      <ng-template
        #body
        let-usuario
      >

        <tr>

          <td>

            @if (usuario.fotoPerfil) {

              <img
                class="usuarios-avatar"
                [src]="usuario.fotoPerfil"
                [alt]="'Foto de ' + usuario.nombre + ' ' + usuario.apellidos"
              />

            } @else {

              <div class="usuarios-avatar usuarios-avatar-rol">

                @switch (nombreRol(usuario.rolId)) {

                  @case ('ADMIN_SISTEMA') {

                    <i
                      class="pi pi-shield"
                      aria-hidden="true"
                    ></i>

                  }

                  @case ('ENCARGADO') {

                    <i
                      class="pi pi-users"
                      aria-hidden="true"
                    ></i>

                  }

                  @default {

                    <i
                      class="pi pi-user"
                      aria-hidden="true"
                    ></i>

                  }

                }

              </div>

            }

          </td>


          <td class="usuarios-nombre">
            {{ usuario.nombre }} {{ usuario.apellidos }}
          </td>


          <td>
            {{ usuario.email }}
          </td>


          <td>
            {{ nombreRol(usuario.rolId) }}
          </td>


          <td>
            {{ nombreMetodo(usuario.metodoFichajeId) }}
          </td>


          <td>
            {{ etiquetaEstado(estadoSeleccionado()) }}
          </td>


          <td>

            <div class="usuarios-acciones">

              <button
                type="button"
                class="boton-secundario"
                [disabled]="cargando()"
                (click)="modificarUsuario(usuario)"
              >
                <i
                  class="pi pi-pencil"
                  aria-hidden="true"
                ></i>

                Modificar
              </button>


              @switch (estadoSeleccionado()) {

                @case ('PENDIENTE') {

                  <span class="usuarios-pendiente">
                    Pendiente de primer acceso
                  </span>

                }


                @case ('ACTIVO') {

                  <button
                    type="button"
                    class="boton-secundario"
                    [disabled]="cargando()"
                    (click)="confirmarCambio(usuario, 'INACTIVAR')"
                  >
                    <i
                      class="pi pi-ban"
                      aria-hidden="true"
                    ></i>

                    Inactivar
                  </button>

                  <button
                    type="button"
                    class="boton-secundario"
                    [disabled]="cargando()"
                    (click)="confirmarCambio(usuario, 'BLOQUEAR')"
                  >
                    <i
                      class="pi pi-lock"
                      aria-hidden="true"
                    ></i>

                    Bloquear
                  </button>

                }


                @case ('INACTIVO') {

                  <button
                    type="button"
                    class="boton-primario"
                    [disabled]="cargando()"
                    (click)="confirmarCambio(usuario, 'ACTIVAR')"
                  >
                    <i
                      class="pi pi-check"
                      aria-hidden="true"
                    ></i>

                    Activar
                  </button>

                }


                @case ('BLOQUEADO') {

                  <button
                    type="button"
                    class="boton-primario"
                    [disabled]="cargando()"
                    (click)="confirmarCambio(usuario, 'DESBLOQUEAR')"
                  >
                    <i
                      class="pi pi-unlock"
                      aria-hidden="true"
                    ></i>

                    Desbloquear
                  </button>

                }

              }

            </div>

          </td>

        </tr>

      </ng-template>


      <ng-template #emptymessage>

        <tr>

          <td
            colspan="7"
            class="usuarios-vacio"
          >

            @if (empresaId === null) {

              Selecciona una empresa para mostrar sus usuarios.

            } @else {

              No hay usuarios
              {{ etiquetaEstado(estadoSeleccionado()).toLowerCase() }}
              para mostrar.

            }

          </td>

        </tr>

      </ng-template>

    </p-table>

  </div>

</div>