<div class="notificaciones-page">

  <header class="notificaciones-header">

    <h1>
      Notificaciones
    </h1>

    <p>
      Solicitudes de horas extra pendientes
      de autorización.
    </p>

  </header>


  @if (error()) {

    <div
      class="notificaciones-mensaje"
      role="alert"
    >
      {{ error() }}
    </div>

  }


  @if (mensaje()) {

    <div
      class="notificaciones-mensaje"
      aria-live="polite"
    >
      {{ mensaje() }}
    </div>

  }


  @if (
    cargando()
    && solicitudes().length === 0
  ) {

    <div class="notificaciones-estado">
      Cargando solicitudes...
    </div>

  } @else {


    @if (solicitudes().length === 0) {

      <section class="notificaciones-vacio">

        <i
          class="pi pi-inbox"
          aria-hidden="true"
        ></i>

        <p>
          No tienes solicitudes pendientes.
        </p>

      </section>

    } @else {

      <section class="solicitudes-panel">


        <div class="solicitudes-herramientas">

          <div class="seleccion-todas">

            <input
              id="seleccionarTodasSolicitudes"
              type="checkbox"
              [checked]="todasSeleccionadas()"
              [disabled]="procesando()"
              (change)="seleccionarTodas()"
            />

            <label for="seleccionarTodasSolicitudes">
              Seleccionar todas
            </label>

          </div>


          <div class="acciones-multiples">

            <button
              type="button"
              class="boton-principal"
              [disabled]="
                procesando()
                || !haySeleccionadas()
              "
              (click)="autorizarSeleccionadas()"
            >
              Autorizar seleccionados
            </button>


            <button
              type="button"
              class="boton-secundario"
              [disabled]="
                procesando()
                || !haySeleccionadas()
              "
              (click)="rechazarSeleccionadas()"
            >
              Rechazar seleccionados
            </button>

          </div>

        </div>


        <div class="tabla-contenedor">

          <table class="solicitudes-tabla">

            <caption class="solo-lectores">
              Solicitudes pendientes de autorización
              de horas extra
            </caption>


            <thead>

              <tr>

                <th scope="col">
                  Seleccionar
                </th>

                <th scope="col">
                  Trabajador
                </th>

                <th scope="col">
                  Fecha
                </th>

                <th scope="col">
                  Solicitud
                </th>

                <th scope="col">
                  Límite
                </th>

                <th scope="col">
                  Estado
                </th>

                <th scope="col">
                  Acciones
                </th>

              </tr>

            </thead>


            <tbody>

              @for (
                solicitud of solicitudes();
                track solicitud.id
              ) {

                <tr>

                  <td class="columna-seleccion">

                    <input
                      [id]="
                        'solicitudHorasExtra-'
                        + solicitud.id
                      "
                      type="checkbox"
                      [checked]="
                        estaSeleccionada(
                          solicitud.id
                        )
                      "
                      [disabled]="procesando()"
                      (change)="
                        alternarSeleccion(
                          solicitud.id
                        )
                      "
                    />

                    <label
                      class="solo-lectores"
                      [for]="
                        'solicitudHorasExtra-'
                        + solicitud.id
                      "
                    >
                      Seleccionar
                      {{ solicitud.nombreTrabajador }}
                    </label>

                  </td>


                  <td class="trabajador">
                    {{ solicitud.nombreTrabajador }}
                  </td>


                  <td>
                    {{ solicitud.fecha }}
                  </td>


                  <td>
                    {{ solicitud.fechaSolicitud }}
                  </td>


                  <td>
                    {{ solicitud.fechaLimite }}
                  </td>


                  <td>
                    <span class="estado-solicitud">
                      {{ solicitud.estado }}
                    </span>
                  </td>


                  <td>

                    <div class="acciones-fila">

                      <button
                        type="button"
                        class="boton-tabla boton-principal"
                        [disabled]="procesando()"
                        (click)="
                          autorizar(
                            solicitud.id
                          )
                        "
                      >
                        Autorizar
                      </button>


                      <button
                        type="button"
                        class="boton-tabla boton-secundario"
                        [disabled]="procesando()"
                        (click)="
                          rechazar(
                            solicitud.id
                          )
                        "
                      >
                        Rechazar
                      </button>

                    </div>

                  </td>

                </tr>

              }

            </tbody>

          </table>

        </div>

      </section>

    }

  }

</div>